<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880075929258-nu3r4hvh4q3k8ee21j7qdvftv0n66t3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880075929258-nu3r4hvh4q3k8ee21j7qdvftv0n66t3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>880075929258-129tu81h6i1r43vhblrb6d79q1l78isk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBp_WvVhZ6wGUlOVX2N4INHxrL75IhT5k</string>
	<key>GCM_SENDER_ID</key>
	<string>880075929258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pelicandiscount</string>
	<key>PROJECT_ID</key>
	<string>pelican-4e40a</string>
	<key>STORAGE_BUCKET</key>
	<string>pelican-4e40a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880075929258:ios:6275e3f168cc5e34b242d3</string>
	<key>DATABASE_URL</key>
	<string>https://pelican-4e40a.firebaseio.com</string>
</dict>
</plist>